<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rock.werool.piensunmaize">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainpage.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".barcode.BarcodeScanner"
            android:theme="@style/BarcodeScannerTheme"/>
        <activity android:name=".search.SearchMenu" />
        <activity android:name=".search.by_product.SearchByProductActivity"/>
            <!--android:launchMode="singleInstance"/> TODO -->
        <activity android:name=".search.by_store.SearchByStoreActivity" />
        <activity android:name=".add.addProductChoosePage" />
        <activity android:name=".mainpage.GreetingsActivity" />
        <activity android:name=".add.FillWithHandActivity" />
        <activity android:name=".add.ThankActivity" />
        <activity android:name=".search.by_product.SelectStoreActivity" />
        <activity android:name=".search.by_store.SelectProductActivity" />
        <activity android:name=".favourites.FavouriteStoresActivity"></activity>
    </application>

</manifest>